### Imports

In [1]:
import sys
sys.path.append('../')

from wavy import *
import pandas as pd

### Load data

In [2]:
data_pd = pd.read_pickle('processed.pkl')
data_pd = data_pd.iloc[0:7,:]
data_pd

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
2005-12-29  39.302738  39.463277  38.923283  38.937878   532300.0  18.803659
2005-12-30  38.799235  38.799235  38.412484  38.697075   594100.0  18.791119

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358
2005-12-29  18.929017  18.722176  18.791122  1538500.0  ...  6.415554
2005-12-30  18.979156  18.784852  18.922745  1671400.0  ...  6.444707

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383
2005-12-29  6.539759  6.409217  6.475122  4571400.0  37.093414  37.653740
2005-12-30  6.467520  6.414290  6.434568  2965200.0  37.096709  37.284580


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0
2005-12-29  37.076934  37.413128  1558800.0
2005-12-30  36.658339  36.816547  1293900.0

[7 rows x 2085 columns]

In [3]:
datablock = from_dataframe(data_pd)
datablock

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
2005-12-29  39.302738  39.463277  38.923283  38.937878   532300.0  18.803659
2005-12-30  38.799235  38.799235  38.412484  38.697075   594100.0  18.791119

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358
2005-12-29  18.929017  18.722176  18.791122  1538500.0  ...  6.415554
2005-12-30  18.979156  18.784852  18.922745  1671400.0  ...  6.444707

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383
2005-12-29  6.539759  6.409217  6.475122  4571400.0  37.093414  37.653740
2005-12-30  6.467520  6.414290  6.434568  2965200.0  37.096709  37.284580


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0
2005-12-29  37.076934  37.413128  1558800.0
2005-12-30  36.658339  36.816547  1293900.0

[7 rows x 2085 columns]

In [4]:
datablock = datablock.filter(assets=['MSFT', 'AAPL'], channels=['Open', 'Close'])

In [5]:
x = datablock.iloc[3:5,:]

In [6]:
y = datablock.iloc[5:7,:]

In [7]:
x

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-27  19.438692  19.278402  2.261349  2.268378
2005-12-28  19.314840  19.227409  2.275712  2.248209

In [8]:
y

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-29  19.241974  19.139973  2.254626  2.183424
2005-12-30  19.052540  19.052540  2.166923  2.196870

In [9]:
timepair = TimePair(x, y)

In [10]:
timepair.lookback

2

In [11]:
timepair.shape

   assets  timesteps  channels
x       2          2         2
y       2          2         2