In [1]:
import sys
sys.path.append('../')

%load_ext autoreload
%autoreload 2

In [2]:
# Import the necessary modules
import wavy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

/Users/ibiscp/GitHub/logspace/wavy/.venv/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_csv('../data/train.csv')

In [4]:
# df['congestion'] = df['congestion']/100

In [5]:
df['key'] = df.apply(lambda x: str(x['x']) + '_' + str(x['y']) + '_' + x['direction'], axis=1)

In [6]:
df.drop(['row_id', 'x', 'y', 'direction'], axis=1, inplace=True)

In [7]:
df

                       time  congestion     key
0       1991-04-01 00:00:00          70  0_0_EB
1       1991-04-01 00:00:00          49  0_0_NB
2       1991-04-01 00:00:00          24  0_0_SB
3       1991-04-01 00:00:00          18  0_1_EB
4       1991-04-01 00:00:00          60  0_1_NB
...                     ...         ...     ...
848830  1991-09-30 11:40:00          54  2_3_NB
848831  1991-09-30 11:40:00          28  2_3_NE
848832  1991-09-30 11:40:00          68  2_3_SB
848833  1991-09-30 11:40:00          17  2_3_SW
848834  1991-09-30 11:40:00          24  2_3_WB

[848835 rows x 3 columns]

In [8]:
df = df.pivot(index='time', columns='key', values='congestion')

In [9]:
df

key,0_0_EB,0_0_NB,0_0_SB,0_1_EB,0_1_NB,0_1_SB,0_1_WB,0_2_EB,0_2_NB,0_2_SB,...,2_2_SB,2_2_SE,2_2_SW,2_2_WB,2_3_EB,2_3_NB,2_3_NE,2_3_SB,2_3_SW,2_3_WB
time,,,,,,,,,,,,,,,,,,,,,
1991-04-01 00:00:00,70,49,24,18,60,58,26,31,49,46,...,36,51,47,51,39,64,30,70,29,26
1991-04-01 00:20:00,70,49,24,26,64,55,57,41,40,46,...,10,51,50,58,33,67,30,80,29,57
1991-04-01 00:40:00,70,49,24,31,51,57,91,42,41,35,...,32,51,49,63,33,64,30,79,29,48
1991-04-01 01:00:00,70,49,24,36,51,46,49,39,44,58,...,60,51,49,52,33,33,30,77,29,44
1991-04-01 01:20:00,70,49,24,29,53,83,62,36,46,46,...,43,51,49,50,33,50,30,79,29,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991-09-30 10:20:00,43,29,60,23,63,61,42,47,51,56,...,66,20,50,70,90,53,29,68,22,49
1991-09-30 10:40:00,47,28,35,24,62,63,32,44,57,65,...,60,21,49,68,45,52,25,70,20,47
1991-09-30 11:00:00,40,31,53,22,65,58,38,44,60,62,...,58,27,53,68,44,58,29,69,19,37
1991-09-30 11:20:00,52,36,59,35,67,54,26,44,59,57,...,52,20,53,67,57,59,22,69,22,53
1991-09-30 11:40:00,70,40,51,24,65,52,42,43,62,77,...,64,40,51,71,48,54,28,68,17,24

In [10]:
df.index = pd.to_datetime(df.index)

In [11]:
df

key,0_0_EB,0_0_NB,0_0_SB,0_1_EB,0_1_NB,0_1_SB,0_1_WB,0_2_EB,0_2_NB,0_2_SB,...,2_2_SB,2_2_SE,2_2_SW,2_2_WB,2_3_EB,2_3_NB,2_3_NE,2_3_SB,2_3_SW,2_3_WB
time,,,,,,,,,,,,,,,,,,,,,
1991-04-01 00:00:00,70,49,24,18,60,58,26,31,49,46,...,36,51,47,51,39,64,30,70,29,26
1991-04-01 00:20:00,70,49,24,26,64,55,57,41,40,46,...,10,51,50,58,33,67,30,80,29,57
1991-04-01 00:40:00,70,49,24,31,51,57,91,42,41,35,...,32,51,49,63,33,64,30,79,29,48
1991-04-01 01:00:00,70,49,24,36,51,46,49,39,44,58,...,60,51,49,52,33,33,30,77,29,44
1991-04-01 01:20:00,70,49,24,29,53,83,62,36,46,46,...,43,51,49,50,33,50,30,79,29,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991-09-30 10:20:00,43,29,60,23,63,61,42,47,51,56,...,66,20,50,70,90,53,29,68,22,49
1991-09-30 10:40:00,47,28,35,24,62,63,32,44,57,65,...,60,21,49,68,45,52,25,70,20,47
1991-09-30 11:00:00,40,31,53,22,65,58,38,44,60,62,...,58,27,53,68,44,58,29,69,19,37
1991-09-30 11:20:00,52,36,59,35,67,54,26,44,59,57,...,52,20,53,67,57,59,22,69,22,53
1991-09-30 11:40:00,70,40,51,24,65,52,42,43,62,77,...,64,40,51,71,48,54,28,68,17,24

In [12]:
df = df.resample('20min')

In [13]:
df

In [14]:
interpolated = df.interpolate(method='linear')

In [15]:
interpolated

key,0_0_EB,0_0_NB,0_0_SB,0_1_EB,0_1_NB,0_1_SB,0_1_WB,0_2_EB,0_2_NB,0_2_SB,...,2_2_SB,2_2_SE,2_2_SW,2_2_WB,2_3_EB,2_3_NB,2_3_NE,2_3_SB,2_3_SW,2_3_WB
time,,,,,,,,,,,,,,,,,,,,,
1991-04-01 00:00:00,70.0,49.0,24.0,18.0,60.0,58.0,26.0,31.0,49.0,46.0,...,36.0,51.0,47.0,51.0,39.0,64.0,30.0,70.0,29.0,26.0
1991-04-01 00:20:00,70.0,49.0,24.0,26.0,64.0,55.0,57.0,41.0,40.0,46.0,...,10.0,51.0,50.0,58.0,33.0,67.0,30.0,80.0,29.0,57.0
1991-04-01 00:40:00,70.0,49.0,24.0,31.0,51.0,57.0,91.0,42.0,41.0,35.0,...,32.0,51.0,49.0,63.0,33.0,64.0,30.0,79.0,29.0,48.0
1991-04-01 01:00:00,70.0,49.0,24.0,36.0,51.0,46.0,49.0,39.0,44.0,58.0,...,60.0,51.0,49.0,52.0,33.0,33.0,30.0,77.0,29.0,44.0
1991-04-01 01:20:00,70.0,49.0,24.0,29.0,53.0,83.0,62.0,36.0,46.0,46.0,...,43.0,51.0,49.0,50.0,33.0,50.0,30.0,79.0,29.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991-09-30 10:20:00,43.0,29.0,60.0,23.0,63.0,61.0,42.0,47.0,51.0,56.0,...,66.0,20.0,50.0,70.0,90.0,53.0,29.0,68.0,22.0,49.0
1991-09-30 10:40:00,47.0,28.0,35.0,24.0,62.0,63.0,32.0,44.0,57.0,65.0,...,60.0,21.0,49.0,68.0,45.0,52.0,25.0,70.0,20.0,47.0
1991-09-30 11:00:00,40.0,31.0,53.0,22.0,65.0,58.0,38.0,44.0,60.0,62.0,...,58.0,27.0,53.0,68.0,44.0,58.0,29.0,69.0,19.0,37.0
1991-09-30 11:20:00,52.0,36.0,59.0,35.0,67.0,54.0,26.0,44.0,59.0,57.0,...,52.0,20.0,53.0,67.0,57.0,59.0,22.0,69.0,22.0,53.0
1991-09-30 11:40:00,70.0,40.0,51.0,24.0,65.0,52.0,42.0,43.0,62.0,77.0,...,64.0,40.0,51.0,71.0,48.0,54.0,28.0,68.0,17.0,24.0

In [132]:
x, y = wavy.create_panels(interpolated, lookback=24*3, gap=0, horizon=12*3)

elapsed time in seconds: 0.003159046173095703
elapsed time in seconds: 3.435905933380127
elapsed time in seconds: 0.00018906593322753906

In [49]:
# scaling function for input data
def minmax_scaler(data):
    numerator = data - np.min(data, 0)
    denominator = np.max(data, 0) - np.min(data, 0)
    return numerator / (denominator + 1e-7)

In [39]:
x_train = x.train

In [40]:
x_train_scaled = minmax_scaler(x_train.values)

In [41]:
x_train = x_train.update(x_train_scaled)

In [17]:
x = x[2:]

In [19]:
len(x)

13031

In [24]:
y = y.match(x)

In [25]:
len(y)

13031

In [133]:
print(f"Training set size: {x.train_size}")
print(f"Validation set size: {x.val_size}")
print(f"Test set size: {x.test_size}")

Training set size: 0.72
Validation set size: 0.18000000000000002
Test set size: 0.1

In [134]:
x.set_training_split(val_split=0.1, test_size=0.0)

In [135]:
print(f"Training set size: {x.train_size}")
print(f"Validation set size: {x.val_size}")
print(f"Test set size: {x.test_size}")

Training set size: 0.9
Validation set size: 0.1
Test set size: 0.0

In [136]:
x = x.update(x.values)

In [137]:
print(f"Training set size: {x.train_size}")
print(f"Validation set size: {x.val_size}")
print(f"Test set size: {x.test_size}")

Training set size: 0.9
Validation set size: 0.1
Test set size: 0.0

In [138]:
type(y)

wavy.panel.Panel

In [139]:
y = y.match(x)

In [126]:
y=y.match(x)

In [140]:
print(f"Training set size: {y.train_size}")
print(f"Validation set size: {y.val_size}")
print(f"Test set size: {y.test_size}")

Training set size: 0.9
Validation set size: 0.1
Test set size: 0.0

In [118]:
x[:5]

In [111]:
x = x[:10]

In [112]:
y = y.match(x)

In [ ]:
# TODO: Wrong to use scaler
scaler = StandardScaler()
scaler.fit(x.train.values.reshape(-1, x.train.values.shape[-1]))
x_new = scaler.transform(x.values.reshape(-1, x.shape[-1])).reshape(x.shape)
x = x.update(x_new)

In [ ]:
x = x/100

In [ ]:
densemodel = wavy.DenseModel(x, y, model_type='regression')
densemodel.fit(epochs=50)

In [ ]:
densemodel.score()

In [ ]:
convmodel = wavy.ConvModel(x, y, model_type='regression')
convmodel.fit(epochs=50)

In [ ]:
convmodel.score()

In [ ]:
baseline = wavy.BaselineShift(x, y, model_type='regression')
baseline.fit()

In [ ]:
baseline.score()